<h1><i>Autónomos network</i></h1>
<div class="form-group text-right dropdown">
    <button class="btn btn-primary btn-round dropdown-toggle" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="material-icons">person</i> {{user.name}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <button class="dropdown-item" data-toggle="modal" data-target="#userProfileModal">
            Mi perfil
        </button>
        <div class="dropdown-divider"></div>
        <form action="/logout" method="post">
            <button type="submit" class="dropdown-item">Cerrar sesión</button>
        </form>
    </div>
</div>
<ul class="nav nav-pills nav-pills-primary" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist" aria-expanded="false">
            Servicios no demandados
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#link2" role="tablist" aria-expanded="false">
            Servicios más demandados
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#link3" role="tablist" aria-expanded="false">
            Servicios con más ingresos
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#link4" role="tablist" aria-expanded="false">
            Profesionales más demandados
        </a>
    </li>
</ul>

<div class="tab-content tab-space">
    {{>noDemandedService}}
    {{>serviceMostDemanded}}
    {{>serviceBenefit}}
    {{>mostDemandedProfessional}}
</div>
{{>userProfileModal}}
{{>requestListModal}}