<h1><i>Autónomos network</i></h1>
{{>userProfileModal}}
<div class="form-group text-right dropdown">
    <button class="btn btn-primary btn-round dropdown-toggle" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="material-icons">person</i> Jorge Javier Vázquez
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

        <button class="dropdown-item" data-toggle="modal" data-target="#userProfileModal">
            Mi perfil
        </button>

        <div class="dropdown-divider"></div>
        <form action="/logout" method="post">
            <button type="submit" class="dropdown-item">Cerrar sesión</button>
        </form>
    </div>
</div>
<ul class="nav nav-pills nav-pills-primary" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist" aria-expanded="true">
            Búsqueda de servicio
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#link2" role="tablist" aria-expanded="false">
            Historial de usuario
        </a>
    </li>
</ul>
<div class="tab-content tab-space">
    {{>serviceSearch}}
    {{>userHistory}}
</div>