<h1><i>Autónomos network</i></h1>
<div class="card">
    <button class="btn btn-round btn btn-primary" data-toggle="modal" data-target="#signupModal"
            style="margin-left: 90%">
        <i class="material-icons">assignment</i>
        Registrarse
    </button>
    {{>signUpModal}}
    <div class="container-fluid col-md-5">
        <div class="card col-md-10">
            <div class="text-center card-header card-header-primary">
                <h4 class="card-title"><i class="material-icons">person</i>Inicio de sesión</h4>
            </div>
            <div class="card-body">
                <form action="/login" method="post">
                    <div class="form-group">
                        <label for="usr">Usuario:</label>
                        <input type="text" class="form-control" id="usr" name="username">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Contraseña:</label>
                        <input type="password" class="form-control" id="pwd" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary" style="margin-left: 40%">Iniciar sesión</button>
                </form>
            </div>
        </div>
    </div>
</div>
