<div class="tab-pane" id="link4" aria-expanded="false">
    <table class="table">
        <thead>
        <tr>
            <th class="text-center"></th>
            <th>Nombre del profesional</th>
            <th>Servicios solicitados</th>
        </tr>
        </thead>
        <tbody>
        {{#professional}}
        <tr>
            <td class="text-center">1</td>
            <td>{{name}}</td>
            <td>{{frequency}}</td>
            <td class="td-actions text-right">
                <button type="button" rel="tooltip" class="btn btn-primary btn-simple btn-round" data-toggle="modal" data-target="#listaSolicitudes"
                data-username="{{username}}" onclick="professional(this)">
                    solicitudes
                </button>
            </td>
        </tr>
        {{/professional}}
        </tbody>
    </table>
</div>