<div class="tab-pane" id="link2" aria-expanded="false">
    {{#user}}
    <table class="table">
        <thead>
        <tr>
            <th class="text-center"></th>
            <th>Fecha-hora</th>
            <th>Nombre cliente</th>
            <th>Categoria</th>
            <th>Lugar</th>
        </tr>
        </thead>
        <tbody>
        {{#services}}
        <Input type="hidden" class="serviceId" id="serviceId" value="{{id}}">
        {{#requests}}
        {{^state}}
        <tr>
            <td class="text-center">{{id}}</td>
            <td>{{serviceDate}}</td>
            <td>{{customer.name}}</td>
            <td>{{serviceRequested.category}}</td>
            <td>{{adress}}</td>
            <td class="td-actions text-right">
                <button type="button" rel="tooltip" class="btn btn-success btn-round" onclick="acceptRequest({{id}})">
                    aceptar
                </button>
                <button type="button" rel="tooltip" class="btn btn-danger btn-round" onclick="removeRequest({{id}},this)">
                    rechazar
                </button>
            </td>
        </tr>
        {{/state}}
        {{/requests}}
        {{/services}}
    </table>
    {{/user}}
</div>