<div class="tab-pane active" id="link1" aria-expanded="true">
    <table class="table">
        <thead>
        <tr>
            <th class="text-center"></th>
            <th>Date-Time</th>
            <th>Nombre cliente</th>
            <th>Tipo de servicio</th>
            <th>Lugar</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-center">1</td>
            <td>20/07/2018-17:00</td>
            <td>Andrés</td>
            <td>Electricidad</td>
            <td>Calle tulipán Móstoles</td>
            <td class="td-actions text-right">
                <button type="button" rel="tooltip" class="btn btn-info btn-round">
                    <i class="material-icons">info</i>
                </button>
                <button type="button" rel="tooltip" class="btn btn-success btn-round">
                    <i class="material-icons">edit</i>
                </button>
                <button type="button" rel="tooltip" class="btn btn-danger btn-round">
                    <i class="material-icons">delete</i>
                </button>
            </td>
        </tr>
        <tr>
            <td class="text-center">2</td>
            <td>20/07/2018-19:00</td>
            <td>John</td>
            <td>Fontanería</td>
            <td>Calle tulipán Mostoles</td>
            <td class="td-actions text-right">
                <button type="button" rel="tooltip" class="btn btn-info btn-round">
                    <i class="material-icons">info</i>
                </button>
                <button type="button" rel="tooltip" class="btn btn-success btn-round">
                    <i class="material-icons">edit</i>
                </button>
                <button type="button" rel="tooltip" class="btn btn-danger btn-round">
                    <i class="material-icons">delete</i>
                </button>
            </td>
        </tr>
        <tr>
            <td class="text-center">3</td>
            <td>21/07/2018-8:00</td>
            <td>Alex</td>
            <td>Electricidad</td>
            <td>Calle tulipán Mostoles</td>
            <td class="td-actions text-right">
                <button type="button" rel="tooltip" class="btn btn-info btn-simple btn-round">
                    <i class="material-icons">info</i>
                </button>
                <button type="button" rel="tooltip" class="btn btn-success btn-simple btn-round">
                    <i class="material-icons">edit</i>
                </button>
                <button type="button" rel="tooltip" class="btn btn-danger btn-simple btn-round">
                    <i class="material-icons">delete</i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>