<div class="tab-pane active" id="link1" aria-expanded="true">
    {{#user}}
    <table class="table">
        <thead>
        <tr>
            <th class="text-center"></th>
            <th>Fecha-hora</th>
            <th>Nombre cliente</th>
            <th>Categoria</th>
            <th>Lugar</th>
        </tr>
        </thead>
        <tbody>
        {{#services}}
        {{#requests}}
        {{#state}}
        <tr>
            <td class="text-center">{{id}}</td>
            <td>{{serviceDate}}</td>
            <td>{{customer.name}}</td>
            <td>{{serviceRequested.category}}</td>
            <td>{{adress}}</td>
        </tr>
        {{/state}}
        {{/requests}}
        {{/services}}
        </tbody>
    </table>
    {{/user}}
</div>