<div class="modal fade" id="listaSolicitudes" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Lista de solicitudes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="tab-content tab-space">
                <div class="tab-pane active" id="link1" aria-expanded="true">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-center"></th>
                            <th>Fecha solicitud</th>
                            <th>Nombre del cliente</th>
                            <th>Estado</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-center">1</td>
                            <td>20/07/2018-17:00</td>
                            <td>Pepe</td>
                            <td>Pendiente</td>

                        </tr>
                        <tr>
                            <td class="text-center">2</td>
                            <td>20/07/2018-17:00</td>
                            <td>John</td>
                            <td>Confirmado</td>
                        </tr>
                        <tr>
                            <td class="text-center">3</td>
                            <td>20/09/2018-17:00</td>
                            <td>Alex</td>
                            <td>Rechazado</td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>