<div class="tab-pane active" id="link1" aria-expanded="false">
    <br>
    <table class="table">
        <thead>
        <tr>
            <th class="text-center"></th>
            <th>Servicio</th>
            <th>Categoría</th>
            <th>Profesional</th>
            <th>Lugares ofrecidos</th>
        </tr>
        </thead>
        <tbody>
        {{#serviceOBF}}
        {{#professionals}}
        <tr>
            <td class="text-center">1</td>
            <td>
                {{serviceName}}
                <button type="button" rel="tooltip" class="btn btn-info btn-round btn-fab" data-toggle="modal"
                        data-target="#informacionServicio" onclick="serviceData(this)"
                        data-name="{{serviceName}}"
                        data-category="{{category}}"
                        data-estimate_time="{{estimateTime}}"
                        data-cost="{{cost}}"
                        data-description="{{description}}">
                    <i class="material-icons">info</i>
                </button>
            </td>
            <td>
                {{category}}
            </td>
            <td>{{name}}
                <button type="button" rel="tooltip" class="btn btn-info btn-round btn-fab" data-toggle="modal"
                        data-target="#infoProfesional" onclick="professionalData(this)"
                        data-name="{{name}}"
                        data-username="{{username}}"
                        data-birthday="{{birthday}}"
                        data-city="{{city}}">
                    <i class="material-icons">info</i>
                </button>
            </td>
            <td>{{citys}}</td>
            <td>
                <button class="btn btn-success btn-round" data-toggle="modal"
                        data-target="#solicitud"
                        onclick="requestTime(this);serviceData(this)"
                        data-id = "{{id}}"
                        data-professional ="{{username}}"
                        data-cost="{{cost}}">Solicitar servicio</button>
            </td>
        </tr>
        {{/professionals}}
        {{/serviceOBF}}
        </tbody>
    </table>
    {{>professionalInfoModal}}
    {{>requestServiceModal}}
</div>