<div class="tab-pane" id="link3" aria-expanded="false">
    <table class="table">
        <thead>
        <tr>
            <th class="text-center"></th>
            <th>Nombre del servicio</th>
            <th>Nombre del profesional</th>
            <th>Solicitudes completadas</th>
            <th>Beneficio total</th>
        </tr>
        </thead>
        <tbody>
        {{#serviceOBF}}
        <tr>
            <td class="text-center">1</td>
            <td>{{serviceName}}</td>
            <td>{{#professionals}}{{name}}  {{/professionals}}</td>
            <td>{{frequency}}</td>
            <td>{{totalBenefit}}</td>
        </tr>
        {{/serviceOBF}}
        </tbody>
    </table>
</div>