<div class="tab-pane active" id="link1" aria-expanded="false">
    <br>
    <div class="row ml-5">
        <div class="form-check form-check-radio form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                       value="option1">
                Servicio
                <span class="circle">
                        <span class="check"></span>
                    </span>
            </label>
        </div>
        <div class="form-check form-check-radio form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                       value="option2">
                categoria
                <span class="circle">
                        <span class="check"></span>
                    </span>
            </label>
        </div>
        <div class="form-check form-check-radio form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                       value="option3">
                Profesional
                <span class="circle">
                        <span class="check"></span>
                    </span>
            </label>
        </div>
        <div class="form-check form-check-radio form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4"
                       value="option4">
                Lugar
                <span class="circle">
                        <span class="check"></span>
                    </span>
            </label>
        </div>
        <div class="col-5 mx-5">
            <form class="form-inline ml-auto ignore" action="/findByServiceName" method="get">
                <div class="form-group no-border">
                    <input type="text"  name="name" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-just-icon btn-round">
                    <i class="material-icons">search</i>
                </button>
            </form>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th class="text-center"></th>
            <th>Servicio</th>
            <th>Categoría</th>
            <th>Profesional</th>
            <th>Lugares ofrecidos</th>
        </tr>
        </thead>
        <tbody>
        {{#service}}
        {{#professionals}}
        <tr>
            <td class="text-center">1</td>
            <td>
                {{serviceName}}
                <button type="button" rel="tooltip" class="btn btn-info btn-round btn-fab" data-toggle="modal"
                        data-target="#informacionServicio" onclick="serviceData(this)"
                        data-name="{{serviceName}}"
                        data-category="{{category}}"
                        data-estimate_time="{{estimateTime}}"
                        data-cost="{{cost}}"
                        data-description="{{description}}">
                    <i class="material-icons">info</i>
                </button>
            </td>
            <td>
                {{category}}
            </td>
            <td>{{name}}
                <button type="button" rel="tooltip" class="btn btn-info btn-round btn-fab" data-toggle="modal"
                        data-target="#infoProfesional" onclick="professionalData(this)"
                        data-name="{{name}}"
                        data-username="{{username}}"
                        data-birthday="{{birthday}}"
                        data-city="{{city}}">
                    <i class="material-icons">info</i>
                </button>
            </td>
            <td>{{citys}}</td>
            <td>
                <button class="btn btn-success btn-round" data-toggle="modal"
                        data-target="#solicitud"
                        onclick="requestTime(this);serviceData(this)"
                        data-id = "{{id}}"
                        data-usernaxme ="{{username}}"
                        data-cost="{{cost}}">Solicitar servicio</button>
            </td>
        </tr>
        {{/professionals}}
        {{/service}}
        </tbody>
    </table>
    {{>professionalInfoModal}}
    {{>requestServiceModal}}
</div>