<div class="tab-pane" id="link3" aria-expanded="false" style="margin-left: 5%">
    {{#user}}
    <div class="container-fluid col-md-10">
        <div class="card col-md-10">
            <div class="card-header card-header-primary">
                <h4 class="card-title"><i class="material-icons">build</i>Servicios</h4>
            </div>
            <div class="card-body" style="margin-left: 10%">
                <div class="row">
                    <div class="col-6">
                        <button type="button" rel="tooltip" class="btn btn-primary btn-round"
                                data-toggle="modal"
                                data-target="#searchServiceModal">
                            <i class="material-icons">search</i> busqueda servicio
                        </button>
                    </div>
                    <div class="col-6">
                        <form class="form-inline ml-auto">
                            <button type="button" rel="tooltip" class="btn btn-primary btn-round"
                                    data-toggle="modal"
                                    data-target="#añadirServicio">
                                <i class="material-icons">add_circle</i> Añadir servicio
                            </button>
                        </form>
                    </div>
                </div>
                {{#services}}
                <div>
                    <label>{{name}}/</label>
                    <label>{{category}}</label>
                    <button type="button" rel="tooltip" class="btn btn-info btn-round btn-fab" data-toggle="modal"
                            data-target="#informacionServicio" onclick="recuperarDato(this)"
                            data-name={{name}}
                            data-category={{category}}
                            data-estimate_time={{estimateTime}}
                            data-cost={{cost}}
                            data-description={{description}}>
                        <i class="material-icons">info</i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-success btn-round btn-fab"
                            data-toggle="modal" data-target="#editarServicio">
                        <i class="material-icons">edit</i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-danger btn-round btn-fab" data-toggle="modal"
                            data-target="#confirmacionBorrado">
                        <i class="material-icons">delete</i>
                    </button>
                </div>
                {{/services}}
            </div>
        </div>
    </div>
    {{/user}}
</div>