<div class="tab-pane" id="link2" aria-expanded="false">
    <div class="container-fluid col-md-10">
        <div class="card col-md-10">
            <div class="card-header card-header-primary">
                <h4 class="card-title"><i class="material-icons">person</i>Historial de usuario</h4>
            </div>
            <div class="card-body">
                {{#user}}
                {{#requests}}
                <div class="solicitud ml-5">
                    <label>{{serviceRequested.service}}</label>
                    <button type="button" rel="tooltip" class="btn btn-info btn-round btn-fab" data-toggle="modal"
                            data-target="#informacionServicio"
                            onclick="serviceData(this)"
                            data-name="{{serviceRequested.service}}"
                            data-category="{{serviceRequested.category}}"
                            data-estimate_time="{{serviceRequested.estimateTime}}"
                            data-cost="{{serviceRequested.cost}}"
                            data-description="{{serviceRequested.description}}">
                        <i class="material-icons">info</i>
                    </button>
                </div>
                {{/requests}}
                {{/user}}
            </div>
        </div>
    </div>
</div>